[tasks]
cover
bmc

[options]
bmc: mode bmc
cover: mode cover
skip @ys_formal_SKIP@
depth @ys_formal_DEPTH@
append 0

[engines]
smtbmc boolector

[script]
@ys_formal_DEFINE_LINES@
read_verilog -sv -formal @ys_formal_SOURCE_LIST@
prep -top @ys_formal_TOP@
memory
async2sync
write_smt2 -wires @ys_formal_TOP@.smt2

[files]
@ys_formal_FILE_LIST@
